.footer {
  width: 100%;
  background-color: $darkBlue;

  &__content {
    color: $white;
    padding: 2.5rem;
    text-align: center;

    @include breakpoint-up(large) {
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 2fr repeat(2, 1fr) 3fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "logo links1 links2 cta"
        "social links1 links2 copyright";
      gap: 1rem;
      justify-items: start;
    }
  }

  a {
    color: $white;
  }

  &__logo {
    display: inline-block;

    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }

    @include breakpoint-up(large) {
      grid-area: logo;
    }
  }

  &__social {
    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }

    @include breakpoint-up(large) {
      grid-area: social;
    }

    a {
      display: inline-block;
      height: 1.25rem;

      svg path {
        transition: fill 300ms ease-in-out;
      }

      &:hover svg path {
        fill: $limeGreen;
      }
    }

    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-up(large) {
      justify-items: start;
      justify-content: space-between;
    }

    a {
      font-size: 0.9375rem;
      line-height: 2.25;
      transition: color 300ms ease-in-out;

      &:hover {
        color: $limeGreen;
      }
    }

    &.col1 {
      @include breakpoint-up(large) {
        grid-area: links1;
      }
    }

    &.col2 {
      @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
      }

      @include breakpoint-up(large) {
        grid-area: links2;
      }
    }
  }

  &__cta {
    margin-bottom: 1.875rem;

    @include breakpoint-up(large) {
      grid-area: cta;
      text-align: right;
      justify-self: end;
    }

    a.button {
      @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
      }
    }
  }

  &__copyright {
    font-size: 0.8125rem;
    color: $grayishBlue;

    @include breakpoint-up(large) {
      grid-area: copyright;
      align-self: end;
      justify-self: end;
    }
  }
}

.attribution {
  font-size: $font-sm;
  background-color: $darkBlue;
  text-align: center;
  color: $white;

  a {
    color: $white;
  }
}
